body{
	background-color: gray;
	font-size: 120%;
}
		p{
	color : green;
	font-size-adjust: 20px;
}
.blue{
	color: blue;
	font-size: 20px;
	font-style: bold;
}
p, h1{
	text-align: center;
}
#mainPoint{
	font-size: 25px;
	font-weight: bold;
	background-color: red;
	opacity: .5;
}
header li{
	list-style: none;
}
a:link, a:visited {
	text-decoration: none;
	background-color: green;
	border: 1px solid blue;
	color: black;
	display: block;
	width: 200px;
	text-align: center;
	margin-bottom: 1px;
}
a:hover, a:active{
	background-color: red;
	color: purple;
}
header li:nth-child(3){
	font-size: 24px;
}
section div:nth-child(odd){
background-color: gray;
}
div, span{
	background-color: blue;
}
